TA_UI/Pods/Pods.xcodeproj/xcuserdata/sebastianwagner.xcuserdatad/xcschemes/JSQMessagesViewController.xcscheme
TA_UI/Pods/Pods.xcodeproj/xcuserdata/sebastianwagner.xcuserdatad/xcschemes/JSQSystemSoundPlayer.xcscheme
TA_UI/Pods/Pods.xcodeproj/xcuserdata/sebastianwagner.xcuserdatad/xcschemes/Pods-TA_UI.xcscheme
TA_UI/Pods/Pods.xcodeproj/xcuserdata/sebastianwagner.xcuserdatad/xcschemes/Pods-TA_UITests.xcscheme
TA_UI/Pods/Pods.xcodeproj/xcuserdata/sebastianwagner.xcuserdatad/xcschemes/Pods-TA_UIUITests.xcscheme
TA_UI/Pods/Pods.xcodeproj/xcuserdata/sebastianwagner.xcuserdatad/xcschemes/xcschememanagement.plist
TA_UI/TA_UI.xcodeproj/project.xcworkspace/xcuserdata/sebastianwagner.xcuserdatad/UserInterfaceState.xcuserstate
TA_UI/TA_UI.xcodeproj/xcuserdata/sebastianwagner.xcuserdatad/xcschemes/TA_UI.xcscheme
TA_UI/TA_UI.xcodeproj/xcuserdata/sebastianwagner.xcuserdatad/xcschemes/xcschememanagement.plist
TA_UI/TA_UI.xcworkspace/xcuserdata/sebastianwagner.xcuserdatad/UserInterfaceState.xcuserstate
