<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Taschenanwalt UI Prototyp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C4E66BEC1DF5A40800152AB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4E66C001DF5A40900152AB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4E66C0B1DF5A40900152AB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
